@media (prefers-color-scheme: dark) {
	.button.nav-button {
		border: none;
	}
	.button.nav-button:hover {
		border: none;
		background-color: hsl(0, 0%, 21%);
	}
	.current-section {
		border-top: 3px solid white !important;
		border-radius: 4px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	body {
		min-height: 100vh;
		background-color: #000000;
		color: hsl(0, 0%, 80%);
	}

	strong {
		color: white;
	}

	.navbar {
		background-color: black;
	}

	.navbar .button {
		background-color: black;
		color: hsl(0, 0%, 80%);
	}

	.surface-1 {
		background-color: hsl(0, 0%, 21%);
	}

    .surface-1 a:hover {
        color: hsl(229, 53%, 53%);
        text-decoration: underline;
    }

	.title {
		color: white;
	}

	.subtitle {
		color: hsl(0, 0%, 80%);
	}

	.button.is-info.is-inverted {
		background-color: black;
	}

	.button.is-info.is-inverted:hover {
		background-color: hsl(0, 0%, 21%);
	}

    .cinvestav-link {
        margin: 12px;
        color: hsl(229, 53%, 53%);
    }

    .cinvestav-link:hover {
        margin: 12px;
        text-decoration: underline;
    }

	a.navbar-link.teaching {
		color: hsl(0, 0%, 80%);
	}

	.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
		background-color: hsl(0, 0%, 21%);
		color: hsl(0, 0%, 80%);
	}

	.navbar-dropdown {
		background-color: black !important;
	}

	.navbar-dropdown .navbar-item {
		color: hsl(0, 0%, 80%);
	}
}
