:root {
	--primary-color: #000000;
	--secondary-color: #485fC7;
	--font-color: #4A4A4A;
	--bg-color: #FFFFFF;
	--title-color: #000000;
	--subtitle-color: #363636;
	--hover-color: #F5F5F5;
	--surface-1-bg-color: hsl(0, 0%, 96%);
}

[data-theme="dark"] {
	--primary-color: #FFFFFF;
	--secondary-color: #485fC7;
	--font-color: #CCCCCC;
	--bg-color: #000000;
	--title-color: #FFFFFF;
	--subtitle-color: #CCCCCC;
	--hover-color: #363636;
	--surface-1-bg-color: hsl(0, 0%, 21%);
}

.image-header {
	width: 100vw;
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.agua-azul-image {
	background-image: url("../img/WaterFallAguaAzul.jpg");
}

.chihuahua-dog-image {
	background-image: url("../img/ChihuahuaDog.jpg");
}

.giant-crystals-image {
	background-image: url("../img/NaicaCave-of-GiantCrystals-Chihuahua-Mexico.jpg");
}

.riviera-maya-image {
	background-image: url("../img/riviera-maya-mexico.jpg");
}

.text-image-header {
	text-shadow: 2px 2px 0 black;
}

.navbar-item img {
	max-height: unset !important;
}
